.main-div{
    display: flex;
    height: 100vh;
    gap: 2rem;
}

.aside{
    width: 15%;
    background-color: black;
    padding: 2rem;

    & ul{
        padding: 0;
    }

    & li{
        margin: 2rem 0;
        font-size: 20px;
        font-weight: 500;
    }

    & a{
        box-sizing: border-box;
        padding: 0.5rem;
        width: 100%;
        display: block;
    }
}

.main{
    width: 85%;
}

.section{
    box-sizing: border-box;
    padding: 1rem;
}